<!DOCTYPE html>
<html>
<head>
  <title><%= t('doorkeeper.layouts.application.title') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <% flash.each do |type, msg| %>
    <div class="flash flash-<%= type %>">
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
