<main>
    <h1 class="font-heading text-4">User Settings</h1>
    <br>
    <a href="/auth/logout"><button class="btn-sm-pink font-bold"><b>Logout</b></button></a>
    <br>
    <section>
        <h2 class="admin-h2">Your Information</h2>
        <%= form_with url: users_update_path, method: :patch, class: "flex flex-col max-w-[200px] gap-2" do |form| %>
            <%= form.label :name, "Name"%>
            <%= form.text_field :name, :value => @user.name %>
            <br>
            <%= form.label :email, "Email"%>
            <%= form.text_field :email, :value => @user.email %>
            <br>
            <%= form.submit "Update", class: "w-min bg-blue" %>
        <% end %>

    </section>
    <br>
    <section>
        <h2 class="admin-h2">Passkeys</h2>
        <%= form_with url: "/auth/update_email_auth", method: :patch do |form| %>
            <%= form.label "Allow insecure email login codes", for: :checked %>
            <br>
            <%= form.check_box :checked, checked: !@user.disable_email_auth %>
            <br>
            <br>
            <%= form.submit "Save" %>
        <% end %>
        <br>
        <div class="flex flex-row flex-wrap max-w-sm gap-4">
            <% @credentials.each do |c| %>
                <div class="flex flex-row bg-black p-4 rounded w-60 justify-between">
                    <h3 style="font-weight: 700" class="text-1"><%= c.name %></h3>
                    <form class="flex" method="DELETE" action="<%= auth_destroy_key_path %>">
                        <input type="hidden" name="credential_id" value="<%= c.id %>">
                        <button style="padding: 0;" aria-label="delete" type="submit" data-turbo-confirm="Are you sure you want to delete this key? This action is permanent and irreversible.">
                            <svg data-action="record#delete" class="fill-pink w-8 h-8" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" xmlns="http://www.w3.org/2000/svg" aria-label="delete" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="48" height="48" title="delete"><g><path d="M8.391 12.32c-.636-.131-1.248.368-1.213 1.016.808 14.714 1.271 14.711 7.681 14.669C15.22 28.003 15.6 28 16 28s.78.003 1.141.005c6.41.042 6.873.045 7.681-14.669.035-.648-.577-1.147-1.212-1.016a.975.975 0 0 0-.784.896c-.17 3.094-.323 5.51-.519 7.407-.266 2.584-.588 3.883-.95 4.566-.225.426-.422.586-1.067.701-.716.128-1.615.123-3.019.115h-.002a161.358 161.358 0 0 0-2.538 0h-.001c-1.405.008-2.304.013-3.02-.115-.645-.115-.842-.275-1.067-.701-.362-.683-.684-1.982-.95-4.566-.196-1.897-.349-4.313-.519-7.407a.975.975 0 0 0-.783-.896z"></path><path d="M6 10a1 1 0 0 1 1-1h18a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1z" fill-rule="nonzero"></path><path d="M12.25 7.973C12.112 8.185 12 8.5 12 9h-2c0-.81.186-1.525.576-2.121.366-.536.963-1.006 1.525-1.271C13.24 5.087 14.687 5 16 5c1.313 0 2.76.087 3.899.608.562.265 1.158.735 1.525 1.271C21.814 7.475 22 8.19 22 9h-2c0-.5-.112-.815-.25-1.027-.161-.272-.324-.388-.684-.546C18.36 7.103 17.306 7 16 7c-1.306 0-2.36.103-3.066.427-.36.158-.523.274-.684.546z"></path><path d="M12.044 14.086a1 1 0 1 1 1.998-.087l.349 7.992a1 1 0 0 1-1.998.087l-.349-7.992zM17.956 13.999a1 1 0 0 1 1.998.087l-.348 7.993a1 1 0 0 1-1.999-.088l.349-7.992z" fill-rule="nonzero"></path></g></svg>
                        </button>
                    </form>
                </div>
            <% end %>

            <a href="/auth/create_key?from_settings=true">
                <div class="flex flex-row bg-black p-4 rounded w-60 justify-between items-center">
                    <h3 style="font-weight: 700" class="text-1">Add Passkey</h3>
                    <div style="background-color: rgb(65 234 212); border-radius: 99999px; padding: 0.15rem;" class="w-min h-min">
                        <svg width="25" height="25" style="fill: var(--bg);" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" xmlns="http://www.w3.org/2000/svg" aria-label="plus" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="48" height="48" title="plus"><path d="M16,6c5.1,0 7.247,0.575 8.336,1.664c1.089,1.089 1.664,3.236 1.664,8.336c0,5.1 -0.575,7.247 -1.664,8.336c-1.089,1.089 -3.236,1.664 -8.336,1.664c-5.1,0 -7.247,-0.575 -8.336,-1.664c-1.089,-1.089 -1.664,-3.236 -1.664,-8.336c0,-5.1 0.575,-7.247 1.664,-8.336c1.089,-1.089 3.236,-1.664 8.336,-1.664Zm0,-2c10,0 12,2 12,12c0,10 -2,12 -12,12c-10,0 -12,-2 -12,-12c0,-10 2,-12 12,-12Zm-1,8c0,-0.552 0.448,-1 1,-1c0.552,0 1,0.448 1,1l0,3l3,0c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1l-3,0l0,3c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1l0,-3l-3,0c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1l3,0l0,-3Z"></path></svg>  
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>

<%= style_tag nonce: true do %>
    .logout-box {
        padding: 1rem;
        border-radius: 6px;
        border: 3px solid var(--winter-sky);
        background-color: #562132;
    }
<% end %>