<%# https://icons.hackclub.com/ %>
<div class="flex flex-col lg:flex-row gap-12">
    <div class="flex flex-row flex-wrap lg:flex-col gap-6 side-menu">
        <%= link_to "Credentials", anchor: "credentials" %>
        <%= link_to "Scopes", anchor: "scopes" %>
        <%= link_to "Redirect URLs", anchor: "redirect_urls" %>
        <%= link_to "App Info", anchor: "info" %>
        <%= link_to "Danger Zone", anchor: "danger_zone" %>
    </div>
    <div class="flex-1 flex flex-col gap-8">
        <h2 class="font-heading text-4 md:text-5 lg:text-6 text-blue">
            <%= @application.name %>
        </h2>
        <section id="credentials">
          <h2>Credentials</h2>
          <div class="field">
            <label for="clientid" id="clientid-label">Client ID</label>
            <span class="input2" id="clientid" aria-labelledby="clientid-label">
              <%= @application.uid %>
              <button class="clipbutton">Copy to clipboard</button>
            </span>
          </div>

          <div class="field">
            <label for="clientsecret" id="clientsecret-label">Client Secret</label>
            <span class="input2" id="clientsecret" aria-labelledby="clientsecret-label">
              <%= @application.secret %>
              <button class="clipbutton">Copy to clipboard</button>
            </span>
          </div>

          <button>Authorize</button>
        </section>

        <section id="scopes">
          <h2>Scopes</h2>
        </section>

        <section id="redirect_urls">
          <h2>Redirect URLs</h2>
        </section>

        <section id="info">
          <h2>App Info</h2>
        </section>

        <section id="danger_zone">
          <h2>Danger Zone</h2>
        </section>
    </div>
</div>

<style>
  html {
    scroll-behavior: smooth;
  }

  .side-menu > a {
    font-size: 1.5rem;
  }

  section {
    padding: 1.25rem;
    border: 1px solid var(--cultured);
    background-color: #262626;
    max-width: 700px;
    border-radius:6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .input2 {
    padding: 0.25rem 0.25rem;
    padding-left: 0.75rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .clipbutton {
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--lemon-glacier);
    color: #262626;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  #credentials > button {
    width: fit-content;
  }

  label {
    font-weight: 400;
    font-size: 1.2rem;
  }
</style>