<a <% if !domain.provisional %> href="<%= domain_path(domain) %>" <% end %> class="flex flex-col p-4 items-start gap-[1.375rem] bg-text text-black shadow-md rounded-2xl h-full text-ellipsis overflow-clip">
    <h2 class="leading-none text-3 font-body text-ellipsis">
    <%= domain.host %><span style="opacity: 0.5;"><%= "." + Rails.application.config.domain %></span>
    </h2>
    <div class="flex flex-col items-start gap-2 text-ellipsis overflow-clip">
    <% if !domain.provisional %>
        <% if domain.top_records.length > 0 %>
            <% domain.top_records.each do |r| %>
                <div class="flex flex-row items-center gap-2">
                    <span class="chip-blue text-ellipsis"><%= r.type%></span>
                    <span class="leading-none text-1 max-w-[220px] whitespace-nowrap overflow-hidden text-ellipsis"><%= r.name %> → <%= r.content %></span>
                </div>
            <% end %>
        <% else %>
            <h2> No Records</h2>
        <% end %>
    <% else %>
     <h2>Your domain is under review. <br>Check back soon!</h2>
    <% end %>
    </div>
    <div style="flex-grow: 1;width: 100%;display: flex;">
        <div class="flex flex-row content-between gap-2 justify-between w-full h-min self-end text-ellipsis">
            <% if !domain.provisional %>
                <span class="px-2 py-0.5 bg-pink rounded uppercase">Live</span>
                <span class="rounded-full px-2 py-0.5 bg-blue uppercase">Manage →</span>
            <% else %>
                <span class="px-2 py-0.5 bg-yellow rounded uppercase" style="background: var(--lemon-glacier);border: 1px solid;">PROVISIONAL</span>
            <% end %>
        </div>
    </div>
</a>


