
<h1><%= @domain.host + "." + ENV["DOMAIN"] %></h1>

<h2> Records </h2>

<table>
  <tr>
    <th>Type </th>
    <th>Name</th>
    <th>Value</th>
    <th>TTL</th>
  </tr>
  <% @records.each do |record| %>
    <% if !record.system_record %>
      <tr>
        <td><%= record.type %></td>
        <td><%= record.name.blank? ? "@" : record.name %></td>
        <td><%= record.content %></td>
        <td><%= record.ttl %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<style>
td {
  border: black solid 2px;
  padding: 0.5rem;
}
</style>
