<h1 class="font-heading text-3 lg:text-4 xl:text-5">Request a subdomain</h1>
<br><br>
<%= form_with url: "/domains/provision" do |form| %>
    <%= form.label :host, "What domain are you requesting" %><br>
    <p>Just write the subdomain name - for example, if you wanted fionah.obl.ong, put "fionah" in the box below</p>
    <br>
    
    <span style="display: inline-flex;gap: 0.5rem;flex-wrap: nowrap;word-break: keep-all;"><%= form.text_field :host, placeholder: "fionah" %><span class="domain">.obl.ong</span></span>
    <br><br><br>
    <%= form.label :plan, "What are you planning on using it for?" %><br>
    <p>Don't worry, it doesn't need to be anything important or serious (it can be if you want though!)</p><br>
    <%= form.text_area :plan, placeholder: "I'm going to use my domain for a personal site" %>
    <br><br><br>
    <%= form.label :coc, "Do you agree to our Code of Conduct?" %><br>
    <p>We want to make sure our domains aren't used for bad purposes. Please read our Code of Conduct and Acceptable Use Policy: <a href="https://github.com/obl-ong/code-of-conduct">https://github.com/obl-ong/code-of-conduct</a></p>
    <br>
    <%= form.check_box :coc, required: true %>
    <br><br>

    <%= form.submit "Request" %>
<% end %>


<%= style_tag nonce: true do %>
    form {
        max-width: 50vw;
    }

    .domain {
        font-size: 2rem;
    }

    label {
        font-size: 2rem;
        font-weight: 600;
    }

    textarea {
        background-color: #f5f5f51a !important;
        border: 1.5px solid var(--cultured) !important;
        border-radius: 5px !important;
        color: #fff;
        min-width: 450px;
        min-height: 10rem;
    }

    a {
        color: var(--winter-sky);
    }
<% end %>