<div class="flex flex-row justify-between items-center py-2 px-4 bg-[#3687FF]">
    <span class="text-0 lg:text-1 xl:text-2">As an independent nonprofit, we need your support in order to keep Obl.ong sustainable.</span>
    <a href="https://home.obl.ong/#donate" class="btn-sm-pink">Donate</a>
</div>
<!-- navbar -->
<div class="flex flex-row justify-between items-center py-8 px-8 md:px-16 gap-4">
    <a href="/">
        <% if @developers then %>
            <%= image_tag "oblong-dev.png", class:"h-10 xl:h-16" %>
        <% else %>
            <svg class="h-10 xl:h-16" viewBox="0 0 345 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M131.469 45.8838C130.725 49.3625 128.366 52.4458 124.493 55.0146C120.612 57.5886 115.293 59.5848 108.855 60.8718C95.9846 63.4449 78.928 63.1268 60.7657 59.2399C42.6033 55.3529 26.9106 48.6623 16.2203 41.0469C10.873 37.2376 6.83679 33.2393 4.34939 29.3025C1.86696 25.3736 0.976927 21.595 1.72142 18.1162C2.46591 14.6375 4.82447 11.5542 8.69749 8.98537C12.5783 6.41145 17.8974 4.41524 24.3353 3.12817C37.206 0.555071 54.2626 0.873171 72.425 4.76012C90.5873 8.64707 106.28 15.3377 116.97 22.9531C122.318 26.7624 126.354 30.7607 128.841 34.6975C131.324 38.6264 132.214 42.405 131.469 45.8838Z" fill="#FF206E" stroke="#0C0F0A" stroke-width="2.93228"/>
                <path d="M166.033 48.452C180.313 48.452 185.633 39.156 185.633 28.908C185.633 18.828 180.313 9.308 166.033 9.308C151.753 9.308 146.377 18.772 146.377 28.908C146.377 39.212 151.753 48.452 166.033 48.452ZM155.281 28.908C155.281 20.676 157.857 16.252 166.033 16.252C174.209 16.252 176.785 20.676 176.785 28.908C176.785 37.028 174.209 41.452 166.033 41.452C157.857 41.452 155.281 37.028 155.281 28.908ZM206.991 18.604C202.175 18.604 198.983 20.452 197.023 23.588V8.3H188.735V47.5H197.023V43.468C198.983 46.548 202.175 48.396 206.991 48.396C216.175 48.396 219.927 41.564 219.927 33.444C219.927 25.492 216.175 18.604 206.991 18.604ZM204.471 41.9C199.207 41.9 197.023 39.212 197.023 33.5C197.023 27.788 199.207 25.1 204.471 25.1C209.735 25.1 211.583 27.676 211.583 33.5C211.583 39.268 209.735 41.9 204.471 41.9ZM231.276 47.5V8.3H222.988V47.5H231.276ZM242.452 47.5V40.108H234.164V47.5H242.452ZM259.503 48.396C270.703 48.396 275.015 41.228 275.015 33.444C275.015 25.772 270.703 18.604 259.503 18.604C248.359 18.604 243.991 25.716 243.991 33.444C243.991 41.284 248.359 48.396 259.503 48.396ZM252.335 33.5C252.335 27.284 254.463 25.1 259.503 25.1C264.599 25.1 266.727 27.284 266.727 33.5C266.727 39.716 264.599 41.9 259.503 41.9C254.463 41.9 252.335 39.716 252.335 33.5ZM296.417 18.604C291.321 18.604 288.129 21.18 286.337 24.988V19.5H278.049V47.5H286.337V34.788C286.337 28.124 288.801 25.324 293.225 25.324C296.641 25.324 298.545 27.116 298.545 31.596V47.5H306.833V30.308C306.833 22.972 303.753 18.604 296.417 18.604ZM332.77 23.196C330.866 20.34 327.73 18.66 323.026 18.66C313.898 18.66 309.978 24.876 309.978 32.716C309.978 40.388 313.898 46.66 323.026 46.66C327.73 46.66 330.866 45.092 332.77 42.236V47.332C332.77 51.756 330.586 53.492 325.714 53.492C321.066 53.492 319.106 51.588 318.77 48.732H310.65C311.042 55.004 315.802 59.316 325.378 59.316C336.746 59.316 341.058 54.948 341.058 46.38V19.5H332.77V23.196ZM325.658 40.556C320.394 40.556 318.266 38.428 318.266 32.828C318.266 27.228 320.394 25.1 325.658 25.1C330.81 25.1 332.77 27.508 332.77 32.828C332.77 38.092 330.81 40.556 325.658 40.556Z" fill="#F5F5F5"/>
            </svg>
        <% end %>
    </a>
    <div style="display: inline-flex;align-items: center;gap: 1rem;">
        <a href="/settings" class="btn-md-yellow xl:btn-lg-yellow">Account</a>
        <% if @_current_user.admin? %>
            <a href="/admin" style="display: inline-flex;gap: 0.25rem;padding: 0.5rem;color: #dae9ff;" >
                <svg width="8" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.43699 0.0227586C3.65959 0.0717636 3.85877 0.195343 4.00153 0.373025C4.14429 0.550707 4.22208 0.771828 4.22199 0.999759V3.19976H4.99999C5.16784 3.19985 5.33298 3.24219 5.48017 3.32287C5.62735 3.40356 5.75186 3.52 5.84222 3.66146C5.93258 3.80292 5.98587 3.96485 5.99719 4.13233C6.00851 4.2998 5.97749 4.46743 5.90699 4.61976L3.68499 9.41976C3.58912 9.62624 3.42566 9.79383 3.22163 9.89483C3.01761 9.99583 2.78523 10.0242 2.5629 9.97522C2.34057 9.92626 2.14161 9.8029 1.99889 9.62553C1.85617 9.44817 1.77825 9.22741 1.77799 8.99976V6.79976H0.999988C0.832049 6.79984 0.666794 6.75762 0.51947 6.677C0.372146 6.59639 0.247497 6.47996 0.157025 6.33848C0.0665531 6.19699 0.0131715 6.03499 0.00180499 5.86744C-0.00956152 5.69989 0.0214536 5.53217 0.0919883 5.37976L2.31499 0.579759C2.4106 0.37301 2.57394 0.2051 2.77797 0.103812C2.982 0.00252464 3.2145 -0.0260706 3.43699 0.0227586Z" fill="#3988fe"/>
                    <script xmlns=""/>
                </svg> 
                Adminland 
                <% if (count = Rails.cache.fetch("review_count", expires_in: 12.hours) do (Domain.where(provisional: true).count + Doorkeeper::Application.where(provisional: true).count) end) > 0 %>
                    <span style="margin-left: 0.2rem; background: #dae9ff;color: #3988fe;border-radius: 100px;width: 1.5rem;height: 1.5rem;display: inline-flex;align-items: center;justify-content: center; outline: 2px dashed #3988fe; ">
                        <%= count %>
                    </span>
                <% end %>
            </a>
        <% end %>
    </div>
</div>

<noscript>
  <% Broadcast.unexpired.each do |b| %>
    <%= render partial: "application/broadcast", object: b, locals: { open: true } %>
  <% end %>
</noscript>

<% Broadcast.unexpired.each do |b| %>
 <%= render partial: "application/broadcast", object: b %>
<% end %>

<div class="px-8 md:px-16 lg:px-24 py-4">
    <%= yield_nested %>
</div>

<%= javascript_tag nonce: true do %>
      window.ReboundSettings = {
        publicToken: "kjvsdcjhut7bw8ny8t63nh",
        email: "<%= @_current_user.email %>",
        title: "Please update your email immediately.",
        description: "An email recently sent to [[email]] has bounced. Here’s why: [[reason]] We need an up-to-date email and your domains are at risk of deletion without one. ",
        fallbackDescription: "An email recently sent to [[email]] has bounced. We need an up-to-date email as a point of contact and your domains are at risk of deletion without one. ",
        actionLabel: "Update email",
        actionUrl: "https://admin.obl.ong/settings",
      }
<% end %>
<%= javascript_tag nonce: true do %>(function(r,e,b,o,u,n,d){if(r.Rebound)return;d=function(){o="script";u=e.createElement(o);u.type="text/javascript";u.src=b;u.async=true;n=e.getElementsByTagName(o)[0];n.parentNode.insertBefore(u,n)};if(r.attachEvent){r.attachEvent("onload",d)}else{r.addEventListener("load",d,false)}})(window,document,"https://rebound.postmarkapp.com/widget/1.0");<% end %>

<% if @developers %>
    <%= style_tag nonce: true do %>
        body {
            border: 4px dashed var(--lemon-glacier);
        }
    <% end %>
<% end %>
