<!DOCTYPE html>
<html>
  <head>
    <title>Obl.ong</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash flash-<%= type %>">
        <%= msg %>
      </div>
    <% end %>

    <%= render '/rails_hotreload/stream' if Rails.env.development? %>
    <main>
      <%= yield_nested %>
    </main>
  </body>
</html>
